/* Navigation Menu */

.navigation { color:#5C5C5C; font-size:13px; font-weight:bold; overflow:hidden; text-align:center; padding:17px 0 20px 31px; }
.navigation a { color:#5C5C5C; font-size:13px; }


/* Navigation Menu */
.main-navigation {
	text-align: center;

}
.main-navigation li {
	font-family: 'Oswald', sans-serif; 
	font-size: 1.4em; 
	text-transform: uppercase; 
	display: block; 
	margin: 0; 
	padding: 0 15px; 
	height: 40px;  
	color: #FF9900;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
		text-align: left;
		width: 96%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation li a:hover {
		color: #eca839;
	}
	.main-navigation li {
		margin: 0 0 0 0;
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		background: #efefef;
		display: block;
		font-size: 0.6em;
		line-height: 2.181818182;
		padding: 4px 6px;
		width: 8em;
		white-space: normal;
	}
	.main-navigation li ul li a:hover {
		background: #e3e3e3;
		color: #eca839;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #ECA839;
		font-weight: bold;
	}
	.menu-toggle {
		display: none;
	}


.navig-bg{ background: url(images/comment-top.gif) no-repeat left top; height:45px;}
.navig-bg-btm{ background: url(images/navig-bottom.gif) no-repeat left bottom; height:45px; }
.navig-pages{ display:block; padding:10px 0 0 0; text-align:right; }
.navig-pages .next a{ background: url(images/newer-post.gif) no-repeat left top; width:114px; height:26px; display:block; color:transparent; }
.navig-pages .next a:hover{ background: url(images/newer-post.gif) no-repeat left bottom; width:114px; height:26px; display:block; color:transparent; }
.navig-pages .next{ float:right; }
.navig-pages .prev a{ background: url(images/older-post.gif) no-repeat left top; width:114px; height:26px; display:block; color:transparent; margin-left:10px; }
.navig-pages .prev a:hover{ background: url(images/older-post.gif) no-repeat left bottom; width:114px; height:26px; display:block; color:transparent; margin-left:10px; }
.navig-pages .prev{float:right; }
.wp-pagenavi { line-height:1.8em; padding:10px 15px; width: 200px; text-align:left; float:left; }
.wp-pagenavi a { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:none !important; margin:2px; padding:4px 3px !important; border:none !important; text-shadow:0 1px 0 #FFFFFF !important; }
.wp-pagenavi a:visited { background:none !important; border:none !important; color:#0066CC; margin:2px; padding:2px 4px; text-decoration:none; }
.wp-pagenavi a:active{ background:none !important; border:none !important; }
.wp-pagenavi span.pages { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:#333333 none repeat scroll 0 0; margin:2px; padding:4px 8px; }
.wp-pagenavi span.current { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background-color:#FFFFFF; border:1px solid #80bcfe !important; color:#000000; font-weight:bold; margin:2px; padding:2px 7px !important; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; }
.wp-pagenavi span.extend { -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:#151515 none repeat scroll 0 0; margin:2px; padding:4px 8px; }
.clr { clear: both; }
#respond { margin-bottom: 15px; }
#sidebar #tag_cloud a { display: inline; padding: 3px; border: none; }
#sidebar #tag_cloud a:hover { color: #cc2a43; background-color: transparent; }

